<h2>Agregar Nuevo Empleado</h2>

<form (submit)="editar($event)">
    <div class="form-group">
        <label for="numeroEmpleado">Número de Empleado</label>
        <input type="text" class="form-control" name="numeroEmpleado" [(ngModel)]="empleadoEditado.numeroEmpleado" required>
    </div>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="empleadoEditado.nombre" required>
    </div>
    <div class="form-group">
        <label for="correo">Correo</label>
        <input type="email" class="form-control" name="correo" [(ngModel)]="empleadoEditado.correo" required>
    </div>
    <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="text" class="form-control" name="telefono" [(ngModel)]="empleadoEditado.telefono" required>
    </div>
    <div class="form-group">
        <label for="fechaNacimiento">Fecha de Nacimiento</label>
        <input type="date" class="form-control" name="fechaNacimiento" [(ngModel)]="empleadoEditado.fechaNacimiento" required>
    </div>
    <div class="form-group">
        <label for="sexo">Sexo</label>
        <select class="form-control" name="sexo" [(ngModel)]="empleadoEditado.sexo" required>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
    </div>
    
    <button type="submit" class="btn btn-success">Editar Empleado</button>
</form>